<div class="container-fluid">
	{{#if hasProducts}}
		<h2><b>{{headerName}}</b></h2>
		<div class="row">
		  {{#each model.products as |products|}}
		    {{#link-to 'description' products.pid}}
		      <div class="col-sm-4">
		        <ul class="list-group">
		          <li class="list-group-item">
		            <img alt="" src="{{products.imageUrl}}" class="img-thumbnail">
		          </li>
		          <li class="list-group-item">
		            <a href="#">
		              <strong>
		                <h4>{{products.title}}</h4>
		              </strong>
		            </a>
		          </li>
		          <li class="list-group-item">
		            <span class="st">Price:</span>
		            <strong>${{products.price}}</strong>
		          </li>
		          <li class="list-group-item">
		            <p>{{products.description}}</p>
		          </li>
		        </ul>
		      </div>
		    {{/link-to}}
		  {{/each}}
		</div>
	{{else}}
		<div class="jumbotron">
			<p>"Products are not available for this Category"</p>
		</div>
	{{/if}}
</div>
{{yield}}
